* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.button-lite, .button-dark {
  border-radius: 3px;
  min-width: 227px;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font: 600 16px/119% "Inter", sans-serif;
  color: #0F3D33;
  padding: 5px 10px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
}

.button-dark {
  background-color: #50e3c2;
}

.button-lite {
  background-color: rgba(80, 227, 194, 0.14);
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.header .header__body {
  min-height: 145px;
  max-width: 1190px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
.header .header__menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header .header__menu .menu__list .menu__item {
  margin-left: 50px;
}
.header .header__menu .menu__list .menu__item a {
  font: 16px/150% "Inter", sans-serif;
  color: #DBE4F1;
}

@media (max-width: 660px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.content-top {
  background: url("../img/top-content-bg.jpg") center center/cover no-repeat;
  width: 100%;
}
.content-top .content-top__container {
  max-width: 1190px;
  padding: 185px 10px 20px 10px;
  height: 535px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content-top .content-top__container-block {
  max-width: 590px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content-top .content-top__button {
  margin-bottom: 11px;
}
.content-top .content-top__title {
  font: 700 46px/148% "Inter", sans-serif;
  color: #FFFFFF;
}
.content-top .content-top__text {
  font: 400 20px/170% "Inter", sans-serif;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 27px;
}
.content-top .not-cart {
  font: 400 14px/200% "Inter", sans-serif;
  color: #FFFFFF;
  text-align: center;
}

.feature {
  width: 100%;
}
.feature .feature__container {
  max-width: 1103px;
  padding: 146px 0 166px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.feature .feature__line {
  width: 1px;
  height: 111px;
  margin: 105px 50px 0;
  background-color: #E8E8EA;
}
.feature .feature__item {
  width: 100%;
  max-width: 307px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}
.feature .feature__item:last-of-type {
  margin-right: 0;
}
.feature .feature__item-title {
  font: 700 22px/170% "Inter", sans-serif;
  color: black;
  margin: 33px 0 24px;
}
.feature .feature__item-text {
  font: 400 18px/189% "Inter", sans-serif;
  color: #323232;
}
.feature .feature__button-violet {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(166, 101, 251, 0.06);
  margin: 5px;
}
.feature .feature__button-violet .feature__button-small {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #a665fb;
  margin: 5px;
}
.feature .feature__button-red {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(252, 92, 101, 0.06);
  margin: 5px;
}
.feature .feature__button-red .feature__button-small {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fc5c65;
  margin: 5px;
}
.feature .feature__button-green {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(80, 227, 194, 0.06);
  margin: 5px;
}
.feature .feature__button-green .feature__button-small {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #50e3c2;
  margin: 5px;
}

@media (max-width: 1000px) {
  .feature__container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .feature__line:nth-child(4) {
    display: none;
  }

  .feature__line:nth-child(2) {
    display: none;
  }
}
.first-content {
  background-color: #f8fbfe;
  width: 100%;
}
.first-content .first-content__container {
  max-width: 1090px;
  padding: 120px 5px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.first-content img {
  max-width: 487px;
  max-height: 464px;
}
.first-content .first-content__block {
  max-width: 446px;
}
.first-content .first-content__block .first-content__title {
  font: 700 38px/132% "Inter", sans-serif;
  color: black;
  margin-bottom: 14px;
}
.first-content .first-content__block .first-content__text {
  font: 400 18px/178% "Inter", sans-serif;
  color: #323232;
  margin-bottom: 29px;
}

@media (max-width: 767px) {
  .first-content__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .first-content__block {
    text-align: center;
  }

  .button-lite {
    width: 100%;
  }
}
.second-content {
  width: 100%;
}
.second-content .second-content__container {
  max-width: 1090px;
  padding: 120px 5px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.second-content img {
  max-width: 549px;
  max-height: 409px;
}
.second-content .second-content__block {
  max-width: 446px;
}
.second-content .second-content__block .second-content__title {
  font: 700 38px/132% "Inter", sans-serif;
  color: black;
  margin-bottom: 14px;
}
.second-content .second-content__block .second-content__text {
  font: 400 18px/178% "Inter", sans-serif;
  color: #323232;
  margin-bottom: 29px;
}

@media (max-width: 767px) {
  .second-content__container {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .second-content__block {
    text-align: center;
  }
}
@media (max-width: 470px) {
  .img {
    width: 100%;
    margin: 5px;
  }
}
.pricing {
  background-color: #f8fbfe;
  width: 100%;
}
.pricing .pricing__container {
  max-width: 750px;
  padding: 120px 0 253px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.pricing .pricing__title {
  font: 700 38px/132% "Inter", sans-serif;
  color: black;
  margin-bottom: 20px;
}
.pricing .pricing__text {
  font: 400 18px/178% "Inter", sans-serif;
  color: #323232;
  margin-bottom: 29px;
}

.choosing-plan {
  position: relative;
  top: -210px;
  width: 100%;
}
.choosing-plan .choosing-plan__container {
  max-width: 730px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.choosing-plan .choise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.choosing-plan .choise__block {
  max-width: 350px;
  margin: 5px;
  padding: 28px 45px;
  background-color: #FFFFFF;
}
.choosing-plan .choise__block span {
  font-size: 50px;
}
.choosing-plan .for-other-type {
  text-decoration: line-through;
  color: #8E8E8E;
}
.choosing-plan .for-other-type::before {
  content: "";
  background: url(../img/Path-2.png);
  display: inline-block;
  width: 14px;
  height: 11px;
  margin-right: 5px;
}
.choosing-plan .choise__type {
  font: 700 13px/246% "Inter", sans-serif;
  color: #878B90;
  margin-bottom: 17px;
}
.choosing-plan .choise__price {
  font: 700 17px/121% "Inter", sans-serif;
  color: black;
  margin-bottom: 14px;
}
.choosing-plan .choise__text {
  font: 400 14px/164% "Inter", sans-serif;
  color: #323232;
  margin-bottom: 26px;
}
.choosing-plan .choise__benefits {
  font: 400 18px/178% "Inter", sans-serif;
  color: black;
  margin-bottom: 30px;
}
.choosing-plan .choise__block__button {
  margin-bottom: 14px;
}
.choosing-plan .choise__block__not-cart {
  font: 400 14px/200% "Inter", sans-serif;
  color: #666666;
}
.choosing-plan .switch {
  width: 250px;
  height: 46px;
  position: relative;
  border: 1px solid #E8E8EA;
  border-radius: 23px;
  margin-bottom: 40px;
}
.choosing-plan input[type=radio] {
  display: none;
  margin: 10px;
}
.choosing-plan input[type=radio] + label {
  display: inline-block;
  padding: 9px 36px;
}
.choosing-plan input[type=radio]:checked + label {
  background-image: none;
  background-color: #50E3C2;
  width: 50%;
  border-radius: 23px;
}
.choosing-plan .switch label {
  font: 600 12px/233% "Inter", sans-serif;
  color: #0F3D33;
}
.choosing-plan .switch input {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 0;
  cursor: pointer;
}

@media (max-width: 767px) {
  .choise {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.feedback {
  width: 100%;
}
.feedback .feedback__container {
  max-width: 1145px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  top: -100px;
}
.feedback .feedback__block {
  max-width: 375px;
  border: 1px solid #E8E8EA;
  padding: 0 55px 48px 55px;
}
.feedback .feedback__quotes {
  font: 400 98px/121% "Inter", sans-serif;
  color: #DBE4F1;
}
.feedback .feedback__text {
  font: 400 18px/178% "Inter", sans-serif;
  color: black;
  margin-bottom: 40px;
}
.feedback .feedback__author-name:first-of-type {
  font-weight: bold;
}
.feedback p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font: 400 14px/200% "Inter", sans-serif;
  color: black;
  text-align: left;
}

@media (max-width: 1000px) {
  .feedback__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer {
  width: 100%;
  background: linear-gradient(315.06deg, #152649 5%, #4F525C 100%);
}
.footer .footer__container {
  max-width: 1135px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer .footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .footer__list {
  padding: 5px;
  padding-top: 60px;
  margin-bottom: 81px;
}
.footer .footer__list:last-child {
  margin-right: 60px;
}
.footer .footer__list li {
  font: 400 16px/212.5% "Inter", sans-serif;
  color: #f8fbfe;
  margin-bottom: 12px;
}
.footer .footer__list li:first-child {
  color: #DBE4F1;
  margin-bottom: 23px;
}
.footer .footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 41px;
  font: 400 12px/150% "Inter", sans-serif;
  color: #f8fbfe;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 5px;
}
.footer .footer__block-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.footer .footer__block-nav li {
  padding-right: 13px;
}
.footer .footer__block img {
  margin-left: 18px;
}
.footer .footer__item {
  padding: 5px;
}

@media (max-width: 767px) {
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__nav {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  .footer__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.small-block {
  width: 100%;
}
.small-block .small-block__container {
  max-width: 707px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 89px 0 120px;
}
.small-block .small-block__title {
  font: 700 28px/179% "Inter", sans-serif;
  margin: 5px;
}
.small-block .small-block__button {
  margin: 5px;
}

@media (max-width: 767px) {
  .small-block__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.form {
  width: 100%;
  margin-bottom: 120px;
}
.form .form__container {
  max-width: 558px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  text-align: center;
}
.form .form__title {
  font: 700 38px/132% "Inter", sans-serif;
  margin-bottom: 30px;
}
.form .form__block {
  border: 1px solid #E8E8EA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 22px 54px rgba(67, 87, 138, 0.29);
          box-shadow: 0px 22px 54px rgba(67, 87, 138, 0.29);
  border-radius: 10px;
  padding: 50px;
}
.form input {
  border: 1px solid #E8E8EA;
  border-radius: 3px;
  max-width: 456px;
  max-height: 50px;
  font: 400 14px/357% "Inter", sans-serif;
  color: #323232;
  margin-bottom: 20px;
  padding-left: 16px;
}
.form input::-webkit-input-placeholder {
  font: 400 14px/357% "Inter", sans-serif;
  color: #323232;
}
.form input::-moz-placeholder {
  font: 400 14px/357% "Inter", sans-serif;
  color: #323232;
}
.form input:-ms-input-placeholder {
  font: 400 14px/357% "Inter", sans-serif;
  color: #323232;
}
.form input::-ms-input-placeholder {
  font: 400 14px/357% "Inter", sans-serif;
  color: #323232;
}
.form input::placeholder {
  font: 400 14px/357% "Inter", sans-serif;
  color: #323232;
}
.form .form__attach {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.form span {
  font: 14px/357% "Inter", sans-serif;
  letter-spacing: -0.3px;
  color: #323232;
}
.form .attach__file {
  display: none;
}
.form .attach__file-button {
  width: 129px;
  max-height: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(242, 245, 248, 0.7);
  border-radius: 3px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 12px;
}
.form .attach__file-icon {
  display: block;
  margin-right: 8px;
}
.form .attach__button {
  min-width: 100%;
  min-height: 50px;
  border-radius: 3px;
  font: 600 16px/119% "Inter", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0F3D33;
  padding: 15px 28px;
  background-color: rgba(80, 227, 194, 0.14);
}

@media (max-width: 660px) {
  .form__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .form {
    width: 80%;
  }

  .form__attach {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 5px;
  }
}
/* Portrait phones and smaller */
/* Iphone 5 */