@import "null";

$color_white: #FFFFFF;
$color_lite: #DBE4F1;
$color_green: #0F3D33;
$color_button: rgba(80, 227, 194, 1);
$color_button-lite: rgba(80, 227, 194, 0.14);
$color-black: rgba(0, 0, 0, 1);
$color-text:rgba(50, 50, 50, 1);
$background-content-color: rgba(248, 251, 254, 1);


$f-family: 'Inter', sans-serif;

%button {
  border-radius: 3px;
  min-width: 227px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 600 16px/119% $f-family;
  color: $color_green;
  padding: 5px 10px;
}
//@mixin content-title(){
//  font: 700 38/132% 'Inter', sans-serif;
//  color: $color-black;
//}

@mixin button-circle ($width, $height, $r, $g, $b, $a){
  width: $width;
  height: $height;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($r, $g, $b, $a);
  margin: 5px;
}
//@mixin font ($f-weight, $f-size, $f-linehight){
//  font: $f-weight $f-size \/ $f-linehight 'Inter', sans-serif;
//}

.wrapper {
  width: 100%;
  min-height: 100%;
}

.button-dark {
  @extend %button;
  background-color: $color_button;
}
.button-lite {
  @extend %button;
  background-color: $color_button-lite;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;

  .header__body {
    min-height: 145px;
    max-width: 1190px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  .header__menu {
    .menu__list {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-wrap: wrap;

      .menu__item {
        margin-left: 50px;

        a {
          font: 16px/150% $f-family;
          color: $color_lite;
        }
      }
    }
  }
}

@media (max-width: 660px){
  .menu__list{
    flex-direction: column;
  }
}

.content-top {
  background: url("../img/top-content-bg.jpg") center center/cover no-repeat;
  width: 100%;
  .content-top__container {
    max-width: 1190px;
    padding: 185px 10px 20px 10px;
    height: 535px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content-top__container-block{
    max-width: 590px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content-top__button {
    margin-bottom: 11px;
  }
  .content-top__title{
    font: 700 46px/ 148% $f-family;
    color: $color_white;
  }
  .content-top__text{
    font: 400 20px/ 170% $f-family;
    color: $color_white;
    text-align: center;
    margin-bottom: 27px;
  }
  .not-cart{
    font: 400 14px/ 200% $f-family;
    color: $color_white;
    text-align: center;
  }
} 

.feature {
  width: 100%;
  .feature__container {
    max-width: 1103px;
    padding: 146px 0 166px;
    margin: 0 auto;
    display: flex;
    flex-direction:row;
  }
  .feature__line{
    width: 1px;
    height: 111px;
    margin: 105px 50px 0;
    background-color: #E8E8EA
    ;
  }
  .feature__item {
    width: 100%;
    max-width: 307px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    &:last-of-type {
      margin-right: 0;
    }
  }
  .feature__item-title{
    font: 700 22px/ 170% $f-family;
    color: $color_black;
    margin: 33px 0 24px;
  }
  .feature__item-text{
    font: 400 18px/ 189% $f-family;
    color: $color_text;
  }
  .feature__button-violet {
    @include button-circle(50px, 50px, 166, 101, 251, 0.06);
    
    .feature__button-small {
      @include button-circle(10px, 10px, 166, 101, 251, 1);
    }
  }
  .feature__button-red {
    @include button-circle(50px, 50px, 252, 92, 101, 0.06);
    
    .feature__button-small {
      @include button-circle(10px, 10px, 252, 92, 101, 1);
    }
  }
  .feature__button-green {
    @include button-circle(50px, 50px, 80, 227, 194, 0.06);
    
    .feature__button-small {
      @include button-circle(10px, 10px, 80, 227, 194, 1);
    }
  }
}
@media (max-width: 1000px) {
  .feature__container{
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
  }
  .feature__line:nth-child(4){
    display: none;
  }
  .feature__line:nth-child(2){
    display: none;
  }
 
}
.first-content{
  background-color: $background-content-color;
 
  width: 100%;
  .first-content__container{
    max-width: 1090px;
    padding: 120px 5px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  img{
    max-width: 487px;
    max-height: 464px;
  }
  .first-content__block{
    max-width: 446px;  
    .first-content__title{
      font: 700 38px/ 132% $f-family;
      color: $color-black;
      margin-bottom: 14px;
    }
    .first-content__text{
      font: 400 18px/ 178% $f-family;
      color: $color_text;
      margin-bottom: 29px;
    }
  }
}

@media (max-width: 767px){
 
  .first-content__container{
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .first-content__block{
    text-align: center;
  }
  .button-lite{
    width: 100%;
  }
}

.second-content{
  width: 100%;
  .second-content__container{
    max-width: 1090px;
    padding: 120px 5px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  img{
    
    max-width: 549px;
    max-height: 409px;
  }
  .second-content__block{
    max-width: 446px;
    .second-content__title{
      font: 700 38px/ 132% $f-family;
      color: $color-black;
      margin-bottom: 14px;
    }
    .second-content__text{
      font: 400 18px/ 178% $f-family;
      color: $color_text;
      margin-bottom: 29px;
    }
  }
}

@media (max-width: 767px){
  .second-content__container{
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
  }
  .second-content__block{
    text-align: center;
  }
}

@media (max-width: 470px){
  .img{
    width: 100%;
    margin: 5px;
  }
}

.pricing{
  background-color: $background-content-color;
  width: 100%;
  .pricing__container{
    max-width: 750px;
    padding: 120px 0 253px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .pricing__title{
    font: 700 38px/ 132% $f-family;
    color: $color-black;
    margin-bottom: 20px;    
  }
  .pricing__text{
    font: 400 18px/ 178% $f-family;
      color: $color_text;
      margin-bottom: 29px;
  }
}

.choosing-plan{
  position: relative;
  top: -210px;
  width: 100%;
  .choosing-plan__container{
    max-width: 730px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .choise{
    display: flex;
    flex-direction: row;
  }
  .choise__block{
    max-width: 350px;
    margin: 5px;
    padding: 28px 45px;    
    background-color: $color_white;
    span{
      font-size: 50px;
    }
  }
  
  .for-other-type{
    text-decoration: line-through;
    color: #8E8E8E;
  }
  .for-other-type::before{
    content: "";
    background: url(../img/Path-2.png);
    display: inline-block;
    width: 14px;
    height: 11px;
    margin-right: 5px;
  }
  .choise__type{
    font: 700 13px/ 246% $f-family;
      color: #878B90;
      margin-bottom: 17px;
  }
  .choise__price{
    font: 700 17px/ 121% $f-family;
    color: $color-black;
    margin-bottom: 14px;  
  }
  .choise__text{
    font: 400 14px/ 164% $f-family;
      color: $color_text;
      margin-bottom: 26px;
  }
  .choise__benefits{
    font: 400 18px/ 178% $f-family;
      color: $color_black;
      margin-bottom: 30px;
  }
  .choise__block__button{
    margin-bottom: 14px;
  }
  .choise__block__not-cart{
    font: 400 14px/ 200% $f-family;
      color: #666666;
  }
  .switch {
    width: 250px;
    height: 46px;
    position: relative;
    border: 1px solid #E8E8EA;
    border-radius: 23px;
    margin-bottom: 40px;
  }
  input[type=radio] {
    display:none; 
    margin:10px;
}
input[type=radio] + label {
  display:inline-block;
  padding: 9px 36px;
  
}
input[type=radio]:checked + label { 
  background-image: none;
   background-color:#50E3C2;
   width: 50%;
   border-radius: 23px;
}
.switch label{
  font: 600 12px/ 233% $f-family;
  color:#0F3D33;
  ;
}
.switch input {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 0;
  cursor: pointer;
  }
}

@media (max-width: 767px){
  .choise{
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
}

.feedback{
  width: 100%;
  .feedback__container{
    max-width: 1145px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    position: relative;
    top: -100px;
  }
  .feedback__block{
    max-width: 375px;
    border: 1px solid #E8E8EA;
    padding: 0 55px 48px 55px;
  }
  .feedback__quotes{
    font: 400 98px/ 121% $f-family;
      color: #DBE4F1;
  }
  .feedback__text{
    font: 400 18px/ 178% $f-family;
      color: $color_black;
      margin-bottom: 40px;
  }
  .feedback__author-name:first-of-type{
    font-weight: bold;
  }
  p{
    display: flex;
    justify-content: center;
    font: 400 14px/ 200% $f-family;
      color: $color_black;
      text-align: left;
  }
}
@media (max-width: 1000px){
  .feedback__container{
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
}

.footer{
  width: 100%;
  background: linear-gradient(315.06deg, #152649 5%, #4F525C 100%);
.footer__container{
  max-width: 1135px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.footer__nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__list{  
  padding: 5px;
  padding-top: 60px;
  margin-bottom: 81px;
}
.footer__list:last-child{
  margin-right: 60px;
}
.footer__list li{
  font: 400 16px/ 212.5% $f-family;
  color: $background-content-color;
  margin-bottom: 12px;
}
.footer__list li:first-child{
color: $color_lite;
margin-bottom: 23px;
}
.footer__block{
  display: flex;
  flex-direction: row;
  margin-bottom: 41px;
  font: 400 12px/ 150% $f-family;
  color: $background-content-color;
  justify-content: space-around;
  padding: 5px;
}
.footer__block-nav {
  display: flex;
  flex-direction: row;
}
.footer__block-nav li{  
  padding-right: 13px;
}
.footer__block img{
  margin-left: 18px;
}
.footer__item{
  padding: 5px;
}
}

@media (max-width: 767px){
  .footer__container{
    flex-wrap: wrap;
  }
  .footer__nav{
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .footer__block{
    flex-wrap: wrap;
  }
}

@media (max-width: 480px) {
  .footer__block{
    flex-direction: column;
  }
}

.small-block{
  width: 100%;
  .small-block__container{
    max-width: 707px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 89px 0 120px;
  }
  .small-block__title{
    font: 700 28px/ 179% $f-family;
    margin: 5px;
  }
  .small-block__button{
    margin: 5px;
  }
}

@media (max-width: 767px) {
  .small-block__container{
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
}

.form{
  width: 100%;
  margin-bottom: 120px;
  .form__container{
    max-width: 558px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
  }
  .form__title{
    font: 700 38px/ 132% $f-family;
    margin-bottom: 30px;
  }
  .form__block{
    border: 1px solid #E8E8EA;
    box-sizing: border-box;
    box-shadow: 0px 22px 54px rgba(67, 87, 138, 0.29);
    border-radius: 10px;
    padding: 50px;
  }
  input{
    border: 1px solid #E8E8EA;
    border-radius: 3px;
    max-width: 456px;
    max-height: 50px;
    font: 400 14px/ 357% $f-family;
    color: #323232;
    margin-bottom: 20px;
    padding-left: 16px;
  }
  input::placeholder{
    font: 400 14px/ 357% $f-family;
    color: #323232;
  }
  .form__attach {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
    span {
      font: 14px/357% $f-family;
      letter-spacing: -0.3px;
      color: #323232;
    }

    .attach__file {
      display: none;
    }

    .attach__file-button {
      width: 129px;
      max-height: 35px;
      align-items: center;
      background-color:rgba(242, 245, 248, 0.7);
      border-radius: 3px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      padding: 0 12px;
}
      .attach__file-icon {
        display: block;
        margin-right: 8px;
      }
    .attach__button {
    min-width: 100%;
    min-height: 50px;
    border-radius: 3px;
    font: 600 16px/119% $f-family;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color_green;
    padding: 15px 28px;
    background-color: $color_button-lite;
  }
}

@media (max-width: 660px) {
  .form__container{
    align-items: center;
  }
  .form{
    width: 80%;
  }
  .form__attach{
    flex-wrap: wrap;
    margin: 5px;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
}

/* Iphone 5 */
@media (max-width: 320px) {
}